html {
  background: url(../images/layout/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 980px;
  margin: 0px auto;
  font-family: Calibri;
  font-size: 12px;
  color: #3c2a23;
}

#header {
  background: url(../images/layout/header.png);
  width: 980px;
  height: 142px;
}

#faux {
  clear: both;
  background: url(../images/layout/faux.png);
  width: 979px;
  height: auto;
  min-height: 400px;
  overflow: hidden;
}

#footer {
  background: url(../images/layout/footer.png);
  width: 980px;
  height: 63px;
}

#logo {
  background: url(../images/layout/logo.png);
  width: 218px;
  height: 45px;
  float: left;
  margin-top: 40px;
}

#status{
  width: 189px;
  height: 95px;
  float: right;
  margin-top: 45px;
  color: #fff;

  table{
    margin: 0px auto;

    tr{
      height: 20px;

      td.first{
        text-transform: uppercase;
      }
    }
  }
}

.bar {
  width: 102px;
  height: 14px;
  background: #fff;
  font-size: 10px;
}

.menus {
  width: 176px;
  padding: 5px;
  margin-top: -5px;
}

ul.menu {
  background: #301d17;
  border-radius: 4px;
  width: 174px;
  padding: 0;
  height: auto;
  margin-top: -7px;
  padding-bottom: 3px;

  h1 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.menu-icon{
  float: right;
  margin-top: -35px;
  margin-right: 5px;
}

ul.menu li{
  list-style: none;
  height: 20px;
  border-bottom: 1px solid #3f2d27;
  padding-top: 7px;

  &:hover {
    background: url(../images/layout/hovermenu.png);
  }

  &:last-child {
    border: 0;
  }

  a {
    padding-left: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    margin-top: -5px;
    display: block;
    line-height: 24px;

    &:hover{
      color: #f0e6d0;
    }
  }
}

#content{
  width: 605px;
  float: left;
  height: auto;
}

.content-titel{
  background: url(../images/layout/content-titel.png);
  width: 575px;
  height: 30px;
  margin: 0px auto;
  padding: 7px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

.content-inhoud{
  background: #f0e6d0;
  width: 569px;
  margin: 0px auto;
  padding: 10px;
  overflow: hidden;
  text-align: justify;
  line-height: 19px;
  clear: both;
}

.content-footer{
  background: url(../images/layout/content-footer.png);
  width: 589px;
  height: 12px;
  margin: 0px auto;
}

ul.tabs{
  background: url(../images/layout/tabbg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 589px;
  height: auto;
  margin: 0px auto;
  overflow: hidden;

  li {
    list-style: none;
    margin-left: 10px;
    overflow: hidden;

    a {
      border-radius: 10px;
      background: url(../images/layout/tab.png);
      height: 10px;
      float: left;
      padding-left: 10px;
      padding-right: 10px;
      color: #fff;
      list-style: none;
      text-decoration: none;
      margin-left: 7px;
      border: 1px solid white;
      font-weight: bold;
      position: relative;
    }
  }
}

strong {
  padding: 10px;
  padding-bottom: 15px;
}

.content-inhoud table{
  tr {
    td {
      background: #fff;
      padding: 5px;
    }
  }
}

input{
  border: 1px solid #bb3838;
  padding: 5px;

  &[type="submit"] {
    background: #bb3838;
    color: #fff;

    &:hover {
      background: #E54545;
    }

    &:active {
      background: #7F2626;
    }
  }
}

textarea {
  border: 1px solid #bb3838;
  padding: 5px;
}

.notifi {
  width: 300px;
  height: auto;
  background: white;
  border: 3px solid;
  margin: 0px auto;
  text-align: center;
  color: #000;
  font-weight: bold;
  padding: 50px;
  line-height: 24px;
  font-size: 14px;
  border-radius: 10px;
}

.notifi-small {
  @extend .notifi;
  width: 95%;
  border: 1px solid;
  padding: 5px;
}