@charset "utf-8";
/* CSS Document */

	.paginate {
	font-family:Arial, Helvetica, sans-serif;
	padding: 1px;
	margin: 1px;
	margin-left: 0px;
	margin-top: 3px;
	}

	.paginate a {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #999;
	text-decoration:none;
	color: #666;
	}
	
	.paginate a:hover, .paginate a:active {
	border: 1px solid #999;
	color: #000;
	}
	
	.paginate span.current {
    margin: 2px;
	padding: 2px 5px 2px 5px;
	border: 1px solid #999;
	font-weight: bold;
	background-color: #999;
	color: #FFF;
	}
	
	.paginate span.disabled {
	padding:2px 5px 2px 5px;
	margin:2px;
	border:1px solid #999;
	color:#999;
	}
	
	li{
	padding:4px;
	margin-bottom:3px;
	background-color:#FCC;
	list-style:none;
	}
		
	ul{
	margin:6px;
	padding:0px;
	}	
